<template>
<v-app class="grey"> 
    <v-content class="bg-main">
      <v-container fill-height >
        <v-layout align-center justify-center>
          <v-flex class="login-form text-xs-center">
            <h1>{{title}}</h1>
            <v-card light class="mt-4">
            <v-card-text class="subheading">
              <v-form @submit.prevent="login">
                <v-text-field
                      v-model="form.email"
                      name="email"
                      light
                      prepend-icon="email"
                      label="Enter your e-mail address"
                      :rules="emailRules"
                      type="email"
                      required
                ></v-text-field>
                 
                <v-text-field
                      v-model="form.password"
                      light prepend-icon="lock"
                      :append-icon="e1 ? 'visibility' : 'visibility_off'"
                      :append-icon-cb="() => (e1 = !e1)"
                      label="Enter your password"
                      :type="e1 ? 'text' : 'password'"
                      :rules="passwordRules"
                      required
                ></v-text-field>
                <v-btn block type="submit" color="success">
                  Sign in
                </v-btn>
              </v-form>
            </v-card-text>
            </v-card>
            <div class="mt-3">
              Don't have an account?
              <router-link to="/signup">
                <v-btn light color="error">
                  Sign up
                </v-btn>
              </router-link>
            </div>
          </v-flex> 
        </v-layout>
      </v-container>
    </v-content>
</v-app>
</template>

<script>
export default {
    data(){
        return{ 
            form:{ 
                email:null,
                password:null
            },
            title:'Sistem Informasi Presensi Pegawai PUPR Kota Mataram',
            credit:'Jalan Pejanggik No. 16 Mataram provinsi NTB',

            e1: false,
            passwordRules: [
              (v) => !!v || 'Password is required',
            ],
            emailRules: [
              (v) => !!v || 'E-mail is required',
              (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
            ],
        }
    },

    // method untuk mengalihkan halaman jika token masih ada    
    created(){
        if(User.loggedIn()){
        
            this.$router.push({name:'dashboard'})
        }
    },
    // method diekesekusi jika user menekan button submit
    methods:{
      login(){
            User.login(this.form)
            
      },
    }
}
</script>

<style>
.login-form{
  max-width: 390px
}

  *{
    text-rendering: auto;
  }
  /* .bg-main{
    background-image: url('../static/bg-2.png');
    background-repeat:repeat;
  } */
  .logo-border{
    border:6px solid #fff;
  }
  .sub-title{
    margin-left: 15px;
  }
  #title{
    font-size: 35px;
  }
  .main-color{
    background-color: #eee;
  }
  #avatar-login{
    margin-bottom: 30px;
  }
  .credit{
    font-size: 18px;
    color: #666;
  }
    #email {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
</style>
