<template>
<v-app class="grey"> 
    <v-content>
      <v-container fill-height>
        <v-layout align-center justify-center>
          <v-flex class="login-form text-xs-center">
            <h1>{{title}}</h1>
            <v-card light class="mt-4">
            <v-card-text class="subheading">
              <v-form @submit.prevent="signup">
                <v-text-field
                      v-model="form.name"
                      light
                      prepend-icon="person"
                      label="Enter your username"
                      :rules="nameRules"
                      type="text"
                      required
                ></v-text-field>

                <v-text-field
                      v-model="form.email"
                      name="email"
                      light
                      prepend-icon="email"
                      label="Enter your e-mail address"
                      :rules="emailRules"
                      type="email"
                      required
                ></v-text-field>
                 
                <v-text-field
                      v-model="form.password"
                      light prepend-icon="lock"
                      label="Enter your password"
                      :rules="passwordRules"
                      required
                ></v-text-field>

                <v-text-field
                      v-model="form.password_confirmation"
                      light prepend-icon="lock"
                      label="Password confirmation"
                      :rules="passwordConfirmRules"
                      required
                ></v-text-field>

                <v-btn block type="submit" color="error">
                  Sign up
                </v-btn>
              </v-form>
            </v-card-text>
            </v-card>
            <div class="mt-3">
              Already have an account?
              <router-link to="/">
                <v-btn light color="success">
                  Sign in
                </v-btn>
              </router-link>
            </div>
          </v-flex> 
        </v-layout>
      </v-container>
    </v-content>
</v-app>
</template>

<script>
export default {
    data(){
        return{
            form:{
                name:null,
                email:null,
                password:null,
                password_confirmation:null
            },
            errors:{},
            title:'Sistem Informasi Presensi Pegawai PUPR Kota Mataram',
            credit:'Jalan Pejanggik No. 16 Mataram provinsi NTB',
            nameRules: [
              (v) => !!v || 'Username is required',
            ],
            passwordRules: [
              (v) => !!v || 'Password is required',
            ],
            passwordConfirmRules: [
              (v) => !!v || 'Password Confirm is required',
            ],
            emailRules: [
              (v) => !!v || 'E-mail is required',
              (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
            ],
        }
    },

    // method untuk mengalihkan halaman jika token masih ada
    created(){
        if(User.loggedIn()){
            this.$router.push({name:'dashboard'})
        }
    },
    // method diekesekusi jika user menekan button submit
    methods:{
        signup(){
            axios.post('/api/auth/signup',this.form)
            .then(
              res => {
                User.responseAfterLogin(res)
                this.$router.push({name : 'dashboard'})
                
              }
            )
            .catch(error => this.errors = error.response.data.errors)
        }
    }
}
</script>

<style>
  .sub-title{
    margin-left: 15px;
  }
  .logo-border{
    border:6px solid #fff;
  }
  .main-color{
    background-color: #eee;
  }
</style>
