<template>
  <v-footer class="pa-3">
    <v-spacer></v-spacer>
    <div>&copy;{{ new Date().getFullYear() }} Dinas PUPR Kota Mataram </div>
  </v-footer>
</template>

<script>
export default {

}
</script>

<style>

</style>
