<template>                 
    <nav>
        <div app flat>
         <v-toolbar  app
             class="navbar2" >
            <v-toolbar-side-icon 
                class="white--text"
                @click="drawer = !drawer"
            ></v-toolbar-side-icon>                
            <v-spacer></v-spacer>
            <div class="hidden-sm-and-down"> 
                    <v-btn flat to="/logout" class="white--text" >
                        <span class="white--text">Keluar</span>
                        <v-icon right class="white--text">exit_to_app</v-icon>
                    </v-btn>
             </div>
         </v-toolbar>
             <h1>Content</h1>
        </div> 
        <v-navigation-drawer
            v-model="drawer"
            app
            class="natural"
        >
          <v-toolbar class="primary"> 
              <v-card-text>
                  <h1 id="special_title" class="white--text">
                      {{title}}
                  </h1>
              </v-card-text>
          </v-toolbar>
          <div>
              <!-- user view -->
                <v-layout column align-center class="bg-1">
                    <v-flex class="mt-3" id="profil-img">
                        <v-avatar size="80">
                            <!-- https://cdn.vuetifyjs.com/images/john.jpg -->
                            <!-- https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairDreads01&accessoriesType=Prescription02&hairColor=Brown&facialHairType=BeardLight&facialHairColor=Blonde&clotheType=GraphicShirt&clotheColor=Heather&graphicType=SkullOutline&eyeType=Happy&eyebrowType=RaisedExcited&mouthType=Twinkle&skinColor=Yellow -->
                            <img 
                                class="photos"
                                src="https://cdn.vuetifyjs.com/images/john.jpg"
                                alt="John"
                            >
                        </v-avatar>
                        <p class="white--text subheading mt-1 ">
                            {{username}}
                        </p>
                    </v-flex>
                </v-layout>
              <!-- end user view -->
                  <v-list>
                    <router-link to="/dashboard">
                        <v-list-tile class="bo">
                                <v-list-tile-action>
                                    <v-icon class="black--text">dashboard</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title class="black--text">Dashboard</v-list-tile-title>
                                </v-list-tile-content>

                        </v-list-tile>
                    </router-link>
                  </v-list>
<!-- start expansion panel -->
                        <v-expansion-panel
                            class='elevation-0 bo'
                         >
                            <v-expansion-panel-content  
                            v-for="link in links"
                            :key="link.text"
                            >
                            <template
                                v-if="link.text == 'Kepegawaian'"
                            >
                                <div slot="header">
                                   <v-list-tile>
                                        <v-list-tile-action>
                                            <v-icon class="black--text">{{link.icon}}</v-icon>
                                        </v-list-tile-action>
                                        <v-list-tile-content>
                                            <v-list-tile-title class="black--text">{{link.text}}</v-list-tile-title>
                                        </v-list-tile-content>
                                   </v-list-tile>
                                </div>
                                <v-card class="grey v-card_ex ">
                                    <v-card-text class="v-card_ex">
                                        <router-link
                                            v-for="item in items_peg" 
                                            :key="item.text" 
                                            :to="item.to"
                                            >
                                            <template v-if="item.text == 'Tambah Data Pegawai'">
                                                <v-list-tile-content>
                                                <v-list-tile >
                                                    <v-list-tile-action>
                                                        <v-icon class="black--text">{{item.icon}}</v-icon>
                                                    </v-list-tile-action>
                                                    <v-list-tile-content>
                                                        <v-list-tile-title class="black--text">{{item.text}}</v-list-tile-title>
                                                    </v-list-tile-content>
                                                   </v-list-tile>
                                                 </v-list-tile-content>                                        
                                            </template>
                                            <template v-if="item.text == 'Lihat Data Pegawai'">
                                                <v-list-tile-content class="bo1">
                                                <v-list-tile >
                                                    <v-list-tile-action>
                                                        <v-icon class="black--text">{{item.icon}}</v-icon>
                                                    </v-list-tile-action>
                                                    <v-list-tile-content>
                                                        <v-list-tile-title class="black--text">{{item.text}}</v-list-tile-title>
                                                    </v-list-tile-content>
                                                   </v-list-tile>
                                                 </v-list-tile-content>                                        
                                            </template>
                                        </router-link>
                                    </v-card-text>
                                </v-card>
                            </template>
<!-- 1 end Kepegawaian -->
                            <template
                                v-if="link.text == 'Presensi'"
                            >
                                <div slot="header">
                                   <v-list-tile>
                                        <v-list-tile-action>
                                            <v-icon class="black--text">{{link.icon}}</v-icon>
                                        </v-list-tile-action>
                                        <v-list-tile-content>
                                            <v-list-tile-title class="black--text">{{link.text}}</v-list-tile-title>
                                        </v-list-tile-content>
                                   </v-list-tile>
                                </div>
                                <v-card class="grey v-card_ex">
                                    <v-card-text class="v-card_ex">
                                        <router-link
                                            v-for="item in items_pres" 
                                            :key="item.text" 
                                            :to="item.to">
                                            <v-list-tile-content>
                                                <v-list-tile>
                                                    <v-list-tile-action>
                                                        <v-icon class="black--text">{{item.icon}}</v-icon>
                                                    </v-list-tile-action>
                                                    <v-list-tile-content>
                                                        <v-list-tile-title class="black--text">{{item.text}}</v-list-tile-title>
                                                    </v-list-tile-content>
                                                </v-list-tile>
                                            </v-list-tile-content>
                                        </router-link>
                                    </v-card-text>
                                </v-card>
                            </template>
<!-- 2 end Presensi-->
                            <template
                                v-if="link.text == 'Pengguna'"
                            >
                                <div slot="header">
                                   <v-list-tile>
                                        <v-list-tile-action>
                                            <v-icon class="black--text">{{link.icon}}</v-icon>
                                        </v-list-tile-action>
                                        <v-list-tile-content>
                                            <v-list-tile-title class="black--text">{{link.text}}</v-list-tile-title>
                                        </v-list-tile-content>
                                   </v-list-tile>
                                </div>
                                <v-card class="grey v-card_ex">
                                    <v-card-text class="v-card_ex">
                                        <router-link
                                            v-for="item in items_user" 
                                            :key="item.text" 
                                            :to="item.to">
                                            <v-list-tile-content>
                                                <v-list-tile>
                                                    <v-list-tile-action>
                                                        <v-icon class="black--text">{{item.icon}}</v-icon>
                                                    </v-list-tile-action>
                                                    <v-list-tile-content>
                                                        <v-list-tile-title class="black--text">{{item.text}}</v-list-tile-title>
                                                    </v-list-tile-content>
                                                </v-list-tile>
                                            </v-list-tile-content>
                                        </router-link>
                                    </v-card-text>
                                </v-card>
                            </template>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
<!-- 3 end user -->
<!-- start expansion panel -->
                  <v-list>
                    <router-link to="/logout">
                        <v-list-tile class="bo">
                                <v-list-tile-action>
                                    <v-icon class="black--text">exit_to_app</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title class="black--text">Keluar</v-list-tile-title>
                                </v-list-tile-content>

                        </v-list-tile>
                    </router-link>
                  </v-list>
          </div>
        </v-navigation-drawer>     
    </nav>

</template>

<script>
export default {
    data(){
        return {
            // items: [
            //     {title : 'dashboard', to:'/dashboard', show:User.loggedIn()},
            //     {title : 'Login', to:'/login',show: !User.loggedIn()},                
            //     {title : 'Pegawai', to:'/pegawai',show: User.loggedIn()},
            //     {title : 'Presensi', to:'/presensi',show: User.loggedIn()},                
            //     // {title : 'Logout', to:'/logout',show: User.loggedIn()},
            // ],
            drawer: true,
            username:'',
            links: [
                {icon: 'work', text:'Kepegawaian'}, 
                {icon: 'event', text:'Presensi'},  
                {icon: 'person', text:'Pengguna'},             
            ],
            items_peg:[
                {icon: 'person_add', text:'Tambah Data Pegawai', to:'/add-pegawai'},       
                {icon: 'people', text:'Lihat Data Pegawai', to:'/view-pegawai'},                 
            ],
            items_user:[
                {icon: 'people', text:'Management Data User', to:'/user'},                  
            ],
            items_pres:[
                {icon: 'file_copy', text:'Management Data Presensi', to:'/presensi'},                  
            ],
            title:'SISTEM INFORMASI PRESENSI PEGAWAI PUPR KOTA MATARAM'
        
        }
    },
    created(){
        EventBus.$on('logout',() =>{
            User.logout()
    
        }),
        this.username = localStorage.getItem('user')
    }
}
</script>

<style>
  .photos{
      border: 4px solid #fff;
  }
  .bo{border-bottom:1px solid #ddd !important}
  .bo1{border-top:1px solid rgb(172, 170, 170) !important}
  .vcard_bordbot{
      border-bottom-color: 1px solid #000 !;
  }
  .v-expansion-panel__header__icon > .v-icon {
      color: #000 !important;
  }
  .v-card_ex{
     padding-top: 2px !important;
     padding-bottom: 2px !important;
     padding-left:0px !important;
     padding-right: 0px !important;
  }
  .bg-1{
      /* background-image: url('https://cdn.vuetifyjs.com/images/cards/docks.jpg'); */
      background-color:#333;
      background-size: 300px 400px;
      background-position: 0cm -0cm;
  
  }
  .v-list__tile__action{
      min-width: 38px !important;
  }
  .v-expansion-panel__header{
     padding-top: 2px !important;
     padding-bottom: 2px !important;
     padding-left:0px !important;
     padding-right: 10px !important;
  }

  #profil-img{
      display: block;
      text-align: center
  }
  #special_title{
      text-align: center !important;
      font-size: 13.5px;
  }
 *{ 
     text-decoration:none !important;
     text-rendering: auto;
 }
 
</style>
