<template>
    <v-app class="grey lighten-4">
        <navbar></navbar>
            <v-content class="mx-4 mb-4 mt-0">
               <span class="line navbar2"></span>
                    <v-container fluid grid-list-xl elevation-8>
                        <v-layout row wrap>
                            <v-flex d-flex lg3 sm6 xs12>
                                    <v-card-text>
                                        <h2>Tambah Data Pegawai</h2>
                                    </v-card-text>
                            </v-flex>  
                        </v-layout>
                        <v-layout row wrap>
                           <v-flex d-flex sm12 xs12> 
                                <span class="border"></span>
                           </v-flex>
                            <!-- left -->
                            <v-form @submit.prevent="tambah" class="forms">
                                    <v-layout row wrap>
                                        <v-flex  lg6 sm6 xs6>
                                                <v-card-text>Nama Lengkap :
                                                    <v-text-field
                                                        v-model="form.name"
                                                        required
                                                    ></v-text-field>  
                                                </v-card-text>         
                                                <v-card-text>NIP :
                                                    <v-text-field
                                                        v-model="form.nip"
                                                        type="text"   
                                                        required    
                                                    ></v-text-field>  
                                                </v-card-text>  
                                                <v-card-text>Alamat :
                                                    <v-textarea
                                                    v-model="form.alamat"
                                                
                                                    ></v-textarea>
                                                </v-card-text>                                                                  
                                        </v-flex>
                                            <!-- right -->        
                                        <v-flex  lg6 sm6 xs6>
                                                <v-card-text>Bidang :
                                                    <v-text-field
                                                        v-model="form.bidang"
                                                        type="text"
                                                        required          
                                                    ></v-text-field>   
                                                </v-card-text>         
                                                <v-card-text>Jenis Kelamin :
                                                    <v-select
                                                    v-model="form.jenis_kelamin"
                                                    :items="states_gender"
                                                    menu-props="auto"
                                                    label="Select Jenis Kelamin"
                                                    hide-details
                                                    single-line
                                                    ></v-select>  
                                                </v-card-text>   
                                                <v-card-text>Status Kepegawaian :
                                                    <v-select
                                                    v-model="form.status_kepegawaian"
                                                    :items="states_kep"
                                                    menu-props="auto"
                                                    label="Select Status Kepegawaian"
                                                    hide-details
                                                    single-line
                                                    ></v-select> 
                                                </v-card-text>  
                                            
                                        </v-flex>
                                        <v-flex  lg6 sm6 xs6 class="mt-3">
                                            <v-btn color="primary"
                                                type="submit"
                                            >Tambah</v-btn>
                                        </v-flex>
                                    </v-layout>
                            </v-form>
                       
                       
                            <v-snackbar
                            v-model="snackbar"
                            :bottom="y"
                            :right="x"
                            :timeout="timeout"
                            color="orange"
                            class="white--text"
                            >
                            {{ text }}
                            <router-link to="/view-pegawai">
                            <v-btn
                                flat
                                class="black--text"
                                @click="snackbar = false"
                            >
                                View
                            </v-btn>
                            </router-link>
                            </v-snackbar>


                        </v-layout>
                    </v-container>
            </v-content>
    </v-app>
</template>

<script>
import navbar from '../Navbar'

export default {
    components:{navbar},

    data () {
      return {
        form:{
            name:null,
            alamat:null,
            nip:null,
            bidang:null,
            status_kepegawaian:"Pegawai Negeri Sipil (PNS)",
            jenis_kelamin:"Laki-laki",

        },
        items: [
          { text: 'State 1' },
          { text: 'State 2' },
        ],
        states_gender: [
          'Laki-laki', 'Perempuan', 'Other'
        ],
        states_kep: [
          'Pegawai Negeri Sipil (PNS)', 'Pegawai Tidak Tetap (PTT)'
        ],

       snackbar: false,
        y: 'bottom',
        x: 'right',
        timeout: 4000,
        text: 'Sukses! Anda telah menambahkan pegawai',
      }
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name:'login'})
        }
    },
   methods:{
        tambah(){
            axios.post('/api/pegawai/',this.form)
            .then(
              res => {
                  this.snackbar = true
              }
            )
            .catch(
                
                error => console.log(error.response.data)
                )
        },
    }
}
</script>

<style>
.forms{
    min-width: 100% !important;
}
</style>
