<template>
     <router-view></router-view>
</template>

<script>
import Dashboard from './Dashboard-menu'
export default {
    components:{
        Dashboard
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name:'login'})
        }
    },
}
</script>

<style>

</style>
