<template>
    <v-app class="grey lighten-4">
        <navbar></navbar>
            <v-content class="mx-4 mb-4 mt-0">
               <span class="line navbar2"></span>
                    <v-container fluid grid-list-xl elevation-8>
                        <v-layout row wrap>
                            <v-flex d-flex lg3 sm6 xs12>
                                    <v-card-text>
                                        <h2>Dashboard</h2>
                                    </v-card-text>
                            </v-flex> 
                        </v-layout>
                        <v-layout row wrap>
                           <v-flex d-flex sm12 xs12> 
                            <span class="border"></span>
                           </v-flex>
                        <!-- Widgets-->
                            <v-flex d-flex lg3 sm6 xs12
                             v-for="menu in menus"
                             :key="menu.title"
                            >
                                <v-card 
                                class="text-xs-center ma-3 "
                                :color="menu.color"
                                >
                                    <v-responsive class="pt-3">
                                        <v-icon class="white--text" large>{{menu.icon}}</v-icon>
                                    </v-responsive>
                                    <v-card-text>
                                        <div class="subheading white--text">
                                            <h2>
                                            {{menu.title}}
                                            </h2>
                                        </div>
                                        <template
                                            v-if="menu.title == 'Pegawai'"
                                            >
                                            <h1 class="white--text">
                                                {{pegawais.length}}
                                            </h1>
                                        </template>
                                        <template
                                            v-else-if="menu.title == 'Presensi'"
                                            >
                                            <h1 class="white--text">
                                                {{presensis.length}}
                                            </h1>
                                        </template>
                                        <template
                                            v-else-if="menu.title == 'User'"
                                            >
                                            <h1 class="white--text">
                                                {{users.length}}
                                            </h1>
                                        </template>
                                        <template
                                            v-else-if="menu.title == 'Pegawai PNS'"
                                            >
                                            <h1 class="white--text">
                                                {{pns.length}}
                                            </h1>
                                        </template>
                                        <template
                                            v-else-if="menu.title == 'Pegawai PTT'"
                                            >
                                            <h1 class="white--text">
                                                {{ptts.length}}
                                            </h1>
                                        </template>
                                        <template
                                            v-else
                                            >
                                            <h1 class="white--text">
                                                {{menu.data}}
                                            </h1>
                                        </template>
                                    </v-card-text>
                                    <v-card-actions >
                                        <v-btn 
                                        :to="menu.to"
                                        flat color="white" class="width-100">
                                            <v-icon small left>message</v-icon>
                                            <span>Lihat Data</span>
                                        </v-btn>
                                    </v-card-actions>
                                </v-card> 
                            </v-flex>
                        </v-layout>
                    </v-container>

                    <!-- end -->
            </v-content>
    </v-app>
</template>

<script>
import navbar from '../Navbar'

export default {
    data(){
        return {
            menus:[
                { title:'User', data:'0',to:'/user',color:'purple',icon:'person'},
                { title:'Pegawai', data:'0',to:'/view-pegawai',color:'orange',icon:'work_outline'},
                { title:'Presensi', data:'0',to:'/presensi', color:'red_darken',icon:'date_range'},
                { title:'Pegawai PNS', data:'0',to:'/view-pegawai', color:'green',icon:'supervised_user_circle'},
                { title:'Pegawai PTT', data:'0',to:'/view-pegawai',color:'blue_darken',icon:'supervised_user_circle'},

            ],
            pegawais:[],
            presensis:[],
            users:[],
            pns:[],
            ptts:[],            
        }
    }
    ,
    components:{navbar},
    created(){
        if(!User.loggedIn()){
            this.$router.push({name:'login'})
        }
        else{
                axios.all([
                    axios.get(`/api/user`),                    
                    axios.get(`/api/pegawai`),
                    axios.get(`/api/presensi`),
                    axios.get(`/api/status/pns`),
                    axios.get(`/api/status/ptt`),
                ])
                .then(axios.spread((useRes, pegRes,preRes,pnsRes,pttRes)=> {
                // JSON responses are automatically parsed.
         
                this.pegawais = pegRes.data.data, 
                this.presensis = preRes.data.data,
                this.users = useRes.data.data,
                this.pns = pnsRes.data.data, 
                this.ptts = pttRes.data.data            
                })) 
                .catch(error => console.log(error.response.data)) 


        }
    },
}
</script>

<style>
    .heading-menu{
        font-size: 20px;
    }
    .width-100{
        width:100% !important;
    }
.line{
    width:100%;
    height: 5px;
    display: block;

}
.border{
    border-bottom:1.2px solid rgb(206, 205, 205);
    display: block;
    width: 100% !important;
}
</style>
