<template>
    <v-app class="grey lighten-4">
        <navbar></navbar>
            <v-content class="mx-4 mb-4 mt-0">
               <span class="line navbar2"></span>
                    <v-container fluid grid-list-xl elevation-8>
                        <v-layout row wrap>
                            <v-flex d-flex lg3 sm6 xs12>
                                    <v-card-text>
                                        <h2>Data Presensi</h2>
                                    </v-card-text>
                            </v-flex>  
                            <v-spacer>
                            </v-spacer>                                  
                            <v-flex d-flex lg3 sm6 xs12>
                                    <v-text-field
                                    append-icon="search"
                                    label="Search"
                                    single-line
                                    hide-details
                                    v-model="search"
                                    ></v-text-field>
                                    
                            </v-flex>
                        </v-layout>

                        <v-layout row wrap>
                            <v-flex d-flex  xs12 sm12 >
                                <v-data-table
                                    :headers="headers"
                                    :items="presensis"
                                    :search="search"
                                >
                                    <template slot="items" slot-scope="props">
                                        <td class="text-xs-left">{{ props.item.pegawai }}</td>
                                        <td class="text-xs-left">{{ props.item.absen_pagi }}</td>
                                        <td class="text-xs-left">{{ props.item.absen_sore }}</td>  
                                        <td class="text-xs-left">{{ props.item.tanggal }}</td>
                                        <!-- <td class="text-xs-left"
                                        >{{status_kehadiran(props.item.absen_pagi,props.item.absen_sore)}}</td>
                                         --> 
                                        <td class="text-xs-center"
                                            v-if="
                                            props.item.absen_pagi == '00:00:00' &&
                                            props.item.absen_sore == '00:00:00'
                                            "
                                        >
                                        <v-chip small class="caption tk my-2 white--text">{{status='Tanpa Keterangan'}}</v-chip>
                                        
                                        </td>
                                        <td class="text-xs-center"
                                            v-else-if="
                                            props.item.absen_pagi != '00:00:00' && props.item.absen_pagi !=null &&
                                            props.item.absen_sore != '00:00:00' && props.item.absen_sore !=null
                                            "
                                        ><v-chip small class="my-2 white--text caption hd">{{status='Hadir'}}</v-chip></td>

                                        <td class="text-xs-center"
                                            v-else-if="
                                            props.item.absen_pagi != '00:00:00' &&
                                            props.item.absen_sore == '00:00:00'
                                            "
                                        ><v-chip small class="caption ap my-2 white--text">{{status='Absen Pagi'}}</v-chip></td>

                                        <td class="text-xs-center"
                                            v-else-if="
                                            props.item.absen_pagi == '00:00:00' &&
                                            props.item.absen_sore != '00:00:00'
                                            "
                                        ><v-chip small class="caption as my-2 white--text">{{status='Absen Sore'}}</v-chip></td>
                                        <td class="text-xs-center"
                                            v-else 
 
                                        >
                                        <v-chip small color="orange" class="caption my-2 white--text">{{status='Belum memiliki data'}}</v-chip>
                                        
                                        </td>                                        
                                        <td class="text-xs-center">
 <!-- start -->
                                        <v-dialog 
                                            max-width="400px">
                                            <v-icon 
                                                @click="editItem(props.item.id_presensi)"
                                                slot="activator"
                                                class="mr-3" 
                                                color="orange">
                                                edit
                                            </v-icon>
                                          
                                            <v-card>
                                                <div class="cont">
                                                        <h2 class="title">Edit Data Presensi</h2>
                                                        <v-icon class="close"
                                                        color="orange"
                                                        >edit</v-icon>
           
                                                </div>
                                                <v-card-text class="subheading">
                                                <v-form @submit.prevent="save(props.item.id_presensi)">
                                                    <v-text-field
                                                        v-model="form.pegawai"
                                                        light
                                                        prepend-icon="person"
                                                        label="Enter your username"
                                                        :rules="nameRules"
                                                        type="text"
                                                        required
                                                    ></v-text-field>

                                                    <v-text-field
                                                        v-model="form.absen_pagi"
                                                        light
                                                        prepend-icon="alarm_on"
                                                        label="Absen Pagi"
                                                        :rules="absenpagiRules"
                                                        type="email"
                                                        required
                                                    ></v-text-field>
                                                     
                                                    <v-text-field
                                                        v-model="form.absen_sore"
                                                        light prepend-icon="alarm_on"
                                                        label="Absen Sore"
                                                        :rules="absensoreRules"
                                                        required
                                                    ></v-text-field>
                                                    <v-menu
                                                        :close-on-content-click="false"
                                                        :nudge-right="40"
                                                        lazy
                                                        transition="scale-transition"
                                                        offset-y
                                                        full-width
                                                        max-width="290px"
                                                        min-width="290px"
                                                    >
                                                        <v-text-field
                                                            slot="activator"
                                                            :value="due"
                                                            light prepend-icon="date_range"
                                                            label="Tanggal Kehadiran"
                                                            :rules="tanggalRules"
                                                            required
                                                        ></v-text-field>
                                                        <v-date-picker
                                                            v-model="due"
                                                            no-title
                                                            scrollable
                                                        >
                                                        </v-date-picker>
                                                    </v-menu>                                         
                                                    <v-btn block type="submit" color="primary">
                                                    Simpan
                                                    </v-btn>
                                                </v-form>
                                                </v-card-text>
                                    
                                            </v-card>
                                        </v-dialog>
<!-- end -->
                                        <v-icon
                                            color="red"
                                            @click="deleteItem(props.item.pegawai,props.item.id_presensi)"
                                        > 
                                            delete
                                        </v-icon>
                                        </td>
                                    </template>
                                    <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                    Your search for "{{ search }}" found no results.
                                    </v-alert>
                                </v-data-table>
                            </v-flex>

                            <v-snackbar
                            v-model="snackbar"
                            :bottom="y"
                            :right="x"
                            :timeout="timeout"
                            color="orange"
                            class="white--text"
                            >
                            {{ text }}
                            <v-btn
                                flat
                                class="black--text"
                                @click="reloadPage()"
                            >
                                Back
                            </v-btn>
                            </v-snackbar>


                        </v-layout>
                    </v-container>

                    <!-- end -->
            </v-content>
    </v-app>
</template>

<script>
import navbar from '../Navbar'
export default {
    components:{navbar},


    data(){
        return{
            due:null,
            presensis:[],
            search: '',
            headers: [
            {
                text: 'Nama Pegawai',
                align: 'left',
                sortable: false,
                value: 'pegawai'
            },
            { text: 'Absen Pagi', value: 'absen_pagi' },
            { text: 'Absen Sore', value: 'absen_sore' },
            { text: 'Tanggal', value: 'tanggal' },
            { text: 'Status_Kehadiran', sortable:false,align:'center'},
            { text: 'Action', sortable:false,align:'right' },

            ],
            status:'',
            snackbar: false,
            y: 'bottom',
            x: 'right',
            timeout: 3000,
            text: '',
            form:{
                pegawai:null,
                absen_pagi:null,
                absen_sore:null,
                tanggal:null
            },
            form_clone:{
                absen_pagi:'',
                absen_sore:'',
                tanggal:''
            },
            nameRules: [
              (v) => !!v || 'Username is required',
            ],
            absenpagiRules: [
              (v) => !!v || 'Absen Pagi is required',
            ],
            absensoreRules: [
              (v) => !!v || 'Absen Sore is required',
            ],
            statusRules: [
              (v) => !!v || 'Status Kehadiran is required',
            ],
            tanggalRules: [
              (v) => !!v || 'Tanggal Kehadiran is required',
            ],
        }
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name:'login'})
        }
        else{
                axios.get(`/api/presensi`)
                .then(res => {
                // JSON responses are automatically parsed.
                this.presensis = res.data.data
                })
                .catch(error => console.log(error.response.data))
        }
    },
    methods:{
        deleteItem(name,data){
            axios.delete(`/api/presensi/${data}`)
            .then( res => {
                  this.snackbar = true
                  this.text = `Sukses! Anda telah menghapus presensi ${name}`
                  setTimeout(() => { this.reloadPage() },this.timeout);
            })
            .catch(error => console.log(error.response.data))
        },
        editItem(data){
                axios.get(`/api/presensi/${data}`)
                .then(res => {
                // JSON responses are automatically parsed.
                this.form = res.data.data[0]
                this.due = this.form.tanggal
                })
                .catch(error => console.log(error.response.data))
        },
        save(data){
            this.form_clone.absen_pagi = this.form.absen_pagi
            this.form_clone.absen_sore = this.form.absen_sore
            this.form_clone.tanggal = this.due

            axios.patch(`/api/presensi/${data}`,this.form_clone)
            .then( res => {
                // console.log(this.form_clone.absen_pagi)
                this.reloadPage();
            })
            .catch(error => console.log(error.response.data))
            
        },
        reloadPage(){
            window.location.reload()
        },
    },
}
</script>

<style>

.v-chip.tk{
    background: rgb(243, 37, 37);
}
.v-chip.ap{
    background:rgb(42, 141, 255);
}
.v-chip.as{
    background: orange;
}
.v-chip.hd{
    background:rgb(51, 207, 51);
}
</style>
