<template>
    <v-app class="grey lighten-4">
        <navbar></navbar>
            <v-content class="mx-4 mb-4 mt-0">
               <span class="line navbar2"></span>
                    <v-container fluid grid-list-xl elevation-8>
                        <v-layout row wrap>
                            <v-flex d-flex lg3 sm6 xs12>
                                    <v-card-text>
                                        <h2>Data User</h2>
                                    </v-card-text>
                            </v-flex>  
                            <v-spacer>
                            </v-spacer>                                  
                            <v-flex d-flex lg3 sm6 xs12>
                                    <v-text-field
                                    append-icon="search"
                                    label="Search"
                                    single-line
                                    hide-details
                                    v-model="search"
                                    ></v-text-field>
                                    
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                            <v-flex d-flex  xs12 sm12 >
                                <v-data-table
                                    :headers="headers"
                                    :items="users"
                                    :search="search"
                                >
                                    <template slot="items" slot-scope="props">
                                        <td class="text-xs-left ">{{ props.item.id }}</td>
                                        <td class="text-xs-left ">{{ props.item.name }}</td>
                                        <td class="text-xs-left ">{{ props.item.email }}</td>
                                        <td class="text-xs-left "
                                            v-if="props.item.password.length>=26"
                                        >{{ props.item.password.substring(0,26)+".." }}</td>
                                        <td class="text-xs-right ">
  <!-- start -->
                                        <v-dialog 
                                            max-width="400px">
                                            <v-icon 
                                                @click="editItem(props.item.id)"
                                                slot="activator"
                                                class="mr-3" 
                                                color="orange">
                                                edit
                                            </v-icon>
                                          
                                            <v-card>
                                                <div class="cont">
                                                        <h2 class="title">Edit Data User</h2>
                                                        <v-icon class="close"
                                                        color="orange"
                                                        >edit</v-icon>
           
                                                </div>
                                                <v-card-text class="subheading">
                                                <v-form @submit.prevent="save(props.item.id)">
                                                    <v-text-field
                                                        v-model="form.name"
                                                        light
                                                        prepend-icon="person"
                                                        label="Enter your username"
                                                        :rules="nameRules"
                                                        type="text"
                                                        required
                                                    ></v-text-field>

                                                    <v-text-field
                                                        v-model="form.email"
                                                        name="email"
                                                        light
                                                        
                                                        prepend-icon="email"
                                                        label="Enter your e-mail address"
                                                        :rules="emailRules"
                                                        type="email"
                                                        required
                                                    ></v-text-field>
                                                    
                                                    <v-text-field
                                                        v-model="form.password"
                                                        light prepend-icon="lock"
                                                        label="Enter your password"
                                                        :rules="passwordRules"
                                                        required
                                                    ></v-text-field>

                                                    <v-btn block type="submit" color="primary">
                                                    Simpan
                                                    </v-btn>
                                                </v-form>
                                                </v-card-text>
                                    
                                            </v-card>
                                        </v-dialog>
<!-- end -->
                                        <v-icon
                                            color="red"
                                            @click="deleteItem(props.item.name,props.item.id)"
                                        >
                                            delete
                                        </v-icon>
                                        </td>
                                    </template>
                                    <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                    Your search for "{{ search }}" found no results.
                                    </v-alert>
                                </v-data-table>
                            </v-flex>

                            <v-snackbar
                            v-model="snackbar"
                            :bottom="y"
                            :right="x"
                            :timeout="timeout"
                            color="orange"
                            class="white--text"
                            >
                            {{ text }}
                            <v-btn
                                flat
                                class="black--text"
                                @click="reloadPage()"
                            >
                                Back
                            </v-btn>
                            </v-snackbar>
                        </v-layout>
                    </v-container>

                    <!-- end -->
            </v-content>
    </v-app>
</template>

<script>
import navbar from '../Navbar'

export default {
    components:{navbar},

    data(){
       
        return{
            users:[],
            search: '',
            headers: [
            { text: 'Id', value: 'id'},
            {
                text: 'Nama Pengguna',
                align: 'left',
                sortable: false,
                value: 'name',
            },
            { text: 'E-mail', value: 'email'},
            { text: 'Password', value: 'password'},
            { text: 'Action', sortable:false,align:'right'},
            ],
       
            form:{
                name:null,
                email:null,
                password:null,
            },
            nameRules: [
              (v) => !!v || 'Username is required',
            ],
            passwordRules: [
              (v) => !!v || 'Password is required',
            ],
            emailRules: [
              (v) => !!v || 'E-mail is required',
              (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
            ],
       snackbar: false,
        y: 'bottom',
        x: 'right',
        timeout: 3000,
        text: '',
        
        } 
    },
    created(){
        if(!User.loggedIn()){
            this.$router.push({name:'login'})
        }
        else{
                axios.get(`/api/user`)
                .then(res => {
                // JSON responses are automatically parsed.
                this.users = res.data.data
                })
                .catch(error => console.log(error.response.data))
        }
    },
    methods:{
        deleteItem(name,data){
            axios.delete(`/api/user/${data}`)
            .then( res => {
                  this.snackbar = true
                  this.text = `Sukses! Anda telah menghapus user ${name}`
                  setTimeout(() => { this.reloadPage() },this.timeout);
            })
            .catch(error => console.log(error.response.data))
        },
        editItem(data){
                axios.get(`/api/user/${data}`)
                .then(res => {
                // JSON responses are automatically parsed.
                this.form = res.data.data
                })
                .catch(error => console.log(error.response.data))
        },
        save(data){
            axios.patch(`/api/user/${data}`,this.form)
            .then( res => {
                this.reloadPage();
            })
            .catch(error => console.log(error.response.data))
            
        },
        reloadPage(){
            window.location.reload()
        }

    },
}
</script>

<style>
.line{
    width:100%;
    height: 5px;
    display: block;

}
.cont{
    
    display: block;
    margin-bottom: 5px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:40px;
    background-color: #eee;
}
.title{
    float: left;
}
.close{
    float:right;
}
</style>
