<template>
    <v-app class="grey lighten-4">
        <navbar></navbar>
            <v-content class=" mx-4 mb-4 mt-0 ">
               <span class="line navbar2"></span>
                    <v-container fluid grid-list-xl elevation-8>
                        <v-layout row wrap>
                            <v-flex d-flex lg3 sm6 xs12>
                                    <v-card-text>
                                        <h2>Data Pegawai</h2>
                                    </v-card-text>
                            </v-flex>  
                            <v-spacer>
                            </v-spacer>                                  
                            <v-flex d-flex lg3 sm6 xs12>
                                    <v-text-field
                                    append-icon="search"
                                    label="Search"
                                    single-line
                                    hide-details
                                    v-model="search"
                                    ></v-text-field>
                                    
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                            <v-flex d-flex  xs12 sm12 >
                                <v-data-table
                                    :headers="headers"
                                    :items="pegawais"
                                    :search="search"
                                >
                                    <template slot="items" slot-scope="props">
                                    <td class="text-xs-left">{{ props.item.name }}</td>
                                    <td class="text-xs-left">{{ props.item.nip }}</td>
                                    <td class="text-xs-left">{{ props.item.alamat }}</td>
                                    <td class="text-xs-left">{{ props.item.bidang }}</td>
                                    <td class="text-xs-center">{{ props.item.jenis_kelamin }}</td>
                                    <td class="text-xs-center">{{ props.item.status_kepegawaian }}</td>
                                    <td class="text-xs-center">
                                        
  <!-- start -->
                                        <v-dialog 
                                            max-width="400px">
                                            <v-icon 
                                                @click="editItem(props.item.id)"
                                                slot="activator"
                                                class="mr-3" 
                                                color="orange">
                                                edit
                                            </v-icon>
                                          
                                            <v-card>
                                                <div class="cont">
                                                        <h2 class="title">Edit Data Pegawai</h2>
                                                        <v-icon class="close"
                                                        color="orange"
                                                        >edit</v-icon>
           
                                                </div>
                                                <v-card-text class="subheading">
                                                <v-form @submit.prevent="save(props.item.id)">
                                                    <v-text-field
                                                        v-model="form.name"
                                                        light
                                                        label="Nama Pegawai"
                                                        prepend-icon="person_pin"
                                                        :rules="nameRules"
                                                        type="text"
                                                        required
                                                    ></v-text-field>

                                                    <v-text-field
                                                        v-model="form.nip"
                                                        light
                                                        prepend-icon="credit_card"
                                                        label="NIP"
                                                        :rules="nipRules"
                                                        type="text"
                                                        required
                                                    ></v-text-field>
                                                    <v-text-field
                                                        v-model="form.bidang"
                                                        light
                                                        label="Bidang"
                                                        prepend-icon="work_outline"
                                                        :rules="bidangRules"
                                                        type="text"
                                                        required
                                                    ></v-text-field>
                                                    <v-text-field
                                                        v-model="form.jenis_kelamin"
                                                        light
                                                        label="Jenis Kelamin"
                                                        prepend-icon="supervised_user_circle"
                                                        :rules="genderRules"
                                                        type="text"
                                                        required
                                                    ></v-text-field>
                                                    <v-text-field
                                                        v-model="form.status_kepegawaian"
                                                        light
                                                        label="Status Kepegawaian"
                                                        prepend-icon="assignment_turned_in"
                                                        :rules="statusRules"
                                                        type="text"
                                                        required
                                                    ></v-text-field>  
                                                    <v-textarea
                                                        v-model="form.alamat"
                                                        light
                                                        label="Alamat Lengkap"
                                                        prepend-icon="location_city"
                                                        :rules="alamatRules"
                                                        type="text"
                                                        required
                                                    ></v-textarea>                                                    
                      
                                                    <v-btn block type="submit" color="primary" class="mt-4">
                                                    Simpan
                                                    </v-btn>
                                                </v-form>
                                                </v-card-text>
                                    
                                            </v-card>
                                        </v-dialog>
<!-- end -->
                                        <v-icon
                                            color="red"
                                            @click="deleteItem(props.item.name,props.item.id)"
                                        >
                                            delete
                                        </v-icon>
                                    </td>
                                    </template>
                                    <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                    Your search for "{{ search }}" found no results.
                                    </v-alert>
                                </v-data-table>
                            </v-flex>

                            <v-snackbar
                            v-model="snackbar"
                            :bottom="y"
                            :right="x"
                            :timeout="timeout"
                            color="orange"
                            class="white--text"
                            >
                            {{ text }}
                            <v-btn
                                flat
                                class="black--text"
                                @click="reloadPage()"
                            >
                                Back
                            </v-btn>
                            </v-snackbar>
                        </v-layout>
                    </v-container>
            </v-content>
    </v-app>
</template>

<script>

import navbar from '../Navbar'
export default {

    components:{navbar},
    data(){
        return{
            pegawais:[],
            search: '',
            headers: [
            {
                text: 'Nama Pegawai',
                align: 'left',
                sortable: false,
                value: 'name'
            },
            { text: 'Nip', value: 'nip' },
            { text: 'Alamat', value: 'alamat' },
            { text: 'Bidang', value: 'bidang' },
            { text: 'Jenis Kelamin', value: 'jenis_kelamin' },
            { text: 'Status Kepegawaian', value: 'status_kepegawaian' },
            { text: 'Action', sortable:false,align:'right' },
            ],
       snackbar: false,
        y: 'bottom',
        x: 'right',
        timeout: 3000,
        text: '',
            nameRules: [
              (v) => !!v || 'Nama Pegawai is required',
            ],
            nipRules: [
              (v) => !!v || 'NIP is required',
            ],
            bidangRules: [
              (v) => !!v || 'Bidang is required',
            ],
            statusRules: [
              (v) => !!v || 'Status Kepegawaian is required',
            ],
            genderRules: [
              (v) => !!v || 'Jenis Kelamin is required',
            ],
            alamatRules: [
              (v) => !!v || 'Alamat Lengkap is required',
            ],
            passwordRules: [
              (v) => !!v || 'Password is required',
            ],
            emailRules: [
              (v) => !!v || 'E-mail is required',
              (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
            ],
            form:{
                name:null,
                alamat:null,
                nip:null,
                bidang:null,
                status_kepegawaian:null,
                jenis_kelamin:null,
            },
        }
    },
    
    created(){
        if(!User.loggedIn()){
            this.$router.push({name:'login'})
        }
        else{
                
                axios.get(`/api/pegawai`)
                .then(res => {
                // JSON responses are automatically parsed.
                this.pegawais = res.data.data
                })
                .catch(error => console.log(error.response.data))
        }
    },
    methods:{
        deleteItem(name,id){
            axios.delete(`/api/pegawai/${id}`)
            .then( res => {
                
                  this.snackbar = true
                  this.text = `Sukses! Anda telah menghapus pegawai ${name}`
                  setTimeout(() => { this.reloadPage() },this.timeout);
                  
            })
            .catch(error => console.log(error.response.data))
        },
        editItem(data){
                axios.get(`/api/pegawai/${data}`)
                .then(res => {
                // JSON responses are automatically parsed.
                    this.form = res.data.data[0]
                })
                .catch(error => console.log(error.response.data))
        },
        save(data){
            axios.patch(`/api/pegawai/${data}`,this.form)
            .then( res => {
                this.reloadPage();
            })
            .catch(error => console.log(error.response.data))
            
        },
        reloadPage(){
            window.location.reload()
        }
        
    },


}
</script>

<style>

.searchbar{
    min-width: 100%;
    display: block;
    background-color: #eee;
}
.line{
    width:100%;
    height: 5px;
    display: block;

}
</style>
